@property --PENI-shadow-distance {
  syntax: "<number>";
  inherits: true;
  initial-value: 5;
}

@property --PENI-shadow-offset {
  syntax: "<number>";
  inherits: true;
  initial-value: 1;
}

.PENI-input-copy {
  position: fixed;
  z-index: -69;
  visibility: hidden;
  left: 200vmax;
  height: var(--PENI-input-height, 1.2em);
  max-width: var(--PENI-input-max-width);
  padding: var(--PENI-input-padding, 0);
  font-size: var(--PENI-input-font-size, 1em);
  font-family: var(--PENI-input-font-family, inherit);
  font-weight: var(--PENI-input-font-weight, normal);
  letter-spacing: var(--PENI-input-letter-spacing, 0);
  line-height: var(--PENI-input-line-height, 1.2);
}

.PENI-pencil {
  --PENI-su: min(1px, 0.2vmin);
  --PENI-size: calc(var(--PENI-su) * 300);
  --PENI-t: 400ms;
  --PENI-left: calc(var(--PENI-size) * -1 - 10px);
  --PENI-bottom: calc(var(--PENI-size) * -1 - 10px);
  --PENI-left-transition-speed: var(--PENI-t);

  position: fixed;
  left: var(--PENI-left);
  bottom: var(--PENI-bottom);
  z-index: 420;

  height: var(--PENI-size);
  width: var(--PENI-size);
  filter: blur(1px)
    drop-shadow(
      calc(var(--PENI-su) * var(--PENI-shadow-offset)) calc(var(--PENI-su) * var(--PENI-shadow-offset))
        calc(var(--PENI-su) * var(--PENI-shadow-distance)) #0005
    );
  animation: idle 5s infinite;
  transition: rotate var(--PENI-t), opacity var(--PENI-t), left var(--PENI-left-transition-speed), bottom var(--PENI-t);
  rotate: 0;
  clip-path: polygon(95% -10%, 110% 5%, 25% 90%, -10% 110%, 10% 75%);

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 91.5% 4.5%, hsl(340, 85%, 70%) 0.8%, #0000 0),
      conic-gradient(from 45deg at 85.5% 18.5%, hsla(0, 0%, 20%, 0.3) 90deg, #0000 0),
      linear-gradient(
        45deg,
        #0000 83.5%,
        hsl(0, 0%, 50%) 0 84%,
        hsl(0, 0%, 60%) 0 86%,
        hsl(0, 0%, 50%) 0 86.5%,
        hsl(0, 0%, 60%) 0 88.5%,
        hsl(0, 0%, 50%) 0 89%,
        hsl(0, 0%, 60%) 0 91.2%,
        hsl(0, 0%, 50%) 0 91.8%,
        hsl(340, 85%, 60%) 0
      ),
      radial-gradient(circle at bottom left, hsl(var(--p-hue, 200), 80%, 20%) 4%, #0000 0),
      conic-gradient(at bottom left, #0000 52deg, hsla(24, 50%, 50%, 0.5) 0) 0 100%/ 19% 19% no-repeat,
      radial-gradient(circle at top right, #0000 15%, hsl(24, 70%, 70%) 0) 0 100% / 19% 19% no-repeat,
      linear-gradient(
        -45deg,
        hsl(var(--PENI-hue, 45), 80%, 45%) 48%,
        hsl(var(--PENI-hue, 45), 80%, 50%) 0 52%,
        hsl(var(--PENI-hue, 45), 80%, 60%) 0
      );
    mask: conic-gradient(from 30deg at 0 100%, #fff 30deg, #0000 0) 0 100%/ 19% 19% no-repeat,
      linear-gradient(-45deg, #0000 45%, #fff 0 55%, #0000 0) 53.5% 47%/ 80% 80% no-repeat,
      linear-gradient(-45deg, #0000 10%, #fff 0 90%, #0000 0) 95% 5%/ 10.5% 10.5% no-repeat,
      linear-gradient(-45deg, #0000 10%, #fff 0 90%, #0000 0) 92% 8%/ 10.5% 10.5% no-repeat,
      linear-gradient(-45deg, #0000 10%, #fff 0 90%, #0000 0) 89% 11%/ 10.5% 10.5% no-repeat,
      radial-gradient(circle at 92% 8%, #fff 4.5%, #0000 0);
  }
}

.PENI-pencil.write {
  animation: write var(--PENI-t);
  --PENI-left-transition-speed: 50ms;
}

.PENI-pencil.eraseing {
  rotate: 180deg;
  --PENI-shadow-offset: -1;
}

.PENI-pencil.erase {
  animation: erase var(--PENI-t);
  --PENI-left-transition-speed: 50ms;
}

.PENI-pencil.disappear {
  opacity: 0;
}

.PENI-pencil.hide {
  display: none;
}

@keyframes idle {
  0%,
  100% {
    translate: 0 0;
  }

  50% {
    translate: 0 2%;
  }
}

@keyframes write {
  0%,
  100% {
    translate: 0 0;
    --PENI-shadow-distance: 5;
    rotate: 0;
  }

  25% {
    translate: -2% 2%;
    --PENI-shadow-distance: 2;
    rotate: 2deg;
  }

  50% {
    translate: -2% -2%;
    --PENI-shadow-distance: 2;
    rotate: 4deg;
  }

  75% {
    translate: 0 2%;
    --PENI-shadow-distance: 2;
    rotate: 2deg;
  }
}

@keyframes erase {
  0%,
  100% {
    translate: 0 0;
    --PENI-shadow-distance: 5;
  }

  20%,
  60% {
    translate: -5% -2%;
    --PENI-shadow-distance: 2;
  }

  40%,
  80% {
    translate: -5% 5%;
    --PENI-shadow-distance: 2;
  }
}
